@import '//at.alicdn.com/t/c/font_4761244_ym8kxa8pno8.css';

.iconfont {
    font-size: 28px !important;
}

/* 图标颜色 */
.icon-html {
    color: #e34f26;
}

.icon-houduan {
    color: #3c873a;
}

.icon-database-full {
    color: #00758f;
}

.icon-yunwei {
    color: #2496ed;
}

.icon-kaifagongju {
    color: #f05032;
}

.icon-daikaifa {
    color: #808080;
}

.icon-a-BasicInformationzhuanhuan {
    color: #3eaf7c;
}

.icon-xuexibiji {
    color: #4CAF50;
}

.icon-jishuwendang {
    color: #2196F3;
}

.icon-ziyuanfenxiang {
    color: #FF9800;
}
.icon-boke{
    color: #9C27B0;
}